<footer>
  <div class="container">
    <div>&copy; Hellotext</div>
    <div class="footer-languages">
        {% for lang in site.languages %}
          {% if page.permalink_es %}
            {% if lang == 'en' %}
              {% assign lang_url = '/' | append: page.permalink %}
            {% else %}
              {% assign lang_url = '/es/' | append: page.permalink_es %}
            {% endif %}
          {% else %}
            {% assign lang_url = '/' %}
            {% if lang != 'en' %}{% assign lang_url = '/es' %}{% endif %}
          {% endif %}
          <a href="{{ lang_url }}" class="{% if lang == site.lang%}active{% endif %}">{{ site.data.languages[lang] }}</a>
        {% endfor %}
    </div>
  </div>
</footer>