<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.translations[site.lang][page.permalink].title }} | Hellotext</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="images/brand-favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include gtm_head.html %}
  </head>
  <body>
    {% include gtm_body.html %}
    <header>
      {% include header.html %}
    </header>
    <section>
      <div class="container">
        <header class="header-topic">
          <div class="breadcrumb">
            <a href="{{ site.baseurl }}/">{% t help_center %}</a>
            <div><img src="/images/icons/right.svg" width="22" height="22" /></div>
            <div>{{ site.translations[site.lang][page.permalink].title }}</div>
          </div>
          <div class="header-topic-title">
            <img src="/images/icons/categories/{{ page.permalink }}.svg" width="60" height="60" class="guide-topic-icon" />
            <h1 class="big-title">{{ site.translations[site.lang][page.permalink].title }}</h1>
          </div>
        </header>

        <div class="container-guides">
          {% assign topics = site[page.permalink] | where: "languages", site.lang %}
          {% for guide in topics %}
            <a href="{{ site.baseurl }}{{ guide.url }}" class="content-item">
              <div class="title-container">
                <h4>{{ guide[site.lang].title }}</h4>
                <p>{{ guide[site.lang].description }}</p>
              </div>
              <img src="/images/icons/arrow-right.svg" width="10" />
            </a>
          {% endfor %}
        </div>

      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
